body{
    background-color:#f2f2f2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 80px;
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 13px;
    color: #363636;
}
.container-fluid{
    width:100%;
    margin:0 auto;
    background-color:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
}

.header{
    height:200px;
    text-align: center;

}
.header #text-header h1{
    text-transform: uppercase;
    font-size:22px;
}

.header #text-header h1 .hello{
    font-weight:bold;
    font-size: 30px;
}
.header #text-header h1 .name{
    color: #859900;
}
.divider{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 1px;
    margin: 0 20px;
}

#photo{
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
    margin-top: -80px;
    background-color: #ccc;
}
#photo img{
    width:100%;
    height: 170px;
}

.primary-section{
    width:100%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/******** primary-section start **********/
.primary-section  .about-me{
    margin-bottom: 15px;
}

.about-me h2, .education h2, .experience h2, .contact h2, .skills-container h2, .languages h2 {
    color: #859900;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about-me h2:before, .education h2:before, .experience h2:before, .contact h2:before, .skills-container h2:before, .languages h2:before{
    content: '//';
    margin-right: 5px;
}

p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}

/*******************************************
EDUCATION
*******************************************/
.education-list{
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}
.education-list:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: ' ';
    display: block;
    background: #859900;
    background: -moz-linear-gradient(top,  #ffffff 0%, #859900 7%, #859900 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#859900), color-stop(89%,#859900), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#859900 7%,#859900 89%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#859900 7%,#859900 89%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#859900 7%,#859900 89%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#859900 7%,#859900 89%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.education-list li{
    width: 100%;
    z-index: 2;
    position: relative;
    display: inline-block;
}
.education-list .year{
    width: 10%;
    background: #fff;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}
.education-list .description{
    width: 80%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
}
.education-list .description:after {
    content: '';
    position: absolute;
    bottom: 22px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 8px;
    pointer-events: none;
}
.education-list .description h3{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.education-list .description p{
    font-size: 1em;
    margin-top: 5px;
    padding: 0;
}

/************ experience start ************/
.experience{

}
.experience .job{
  width:100%;
    margin-bottom:30px;
}
.experience .job .client-name{
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}
.experience .job .client-name .where{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
}
.experience .job .client-name .year{
    color: #999;
}
.experience .job .client-name .place{
    color: #999;
}
.experience .job .description{
    box-sizing: border-box;
    width: 75%;
    float:left;
}

.experience .job .description .designation{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
}

.experience .job .description .responsibilities{

}



/************ experience end************/

/******** primary-section end **********/



/******** secondary-section start **********/
.secondary-section{
    width:100%;
    float:right;
    box-sizing: border-box;
}

/********* contact strat **********/
  .contact-item{
      width:100%;
      display:block;
      clear:both;
  }
.contact-item .icon{
    padding: 10px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0.2;
    width: 10%;
    float: left;
}
.contact-item .icon img{
    width:70%;
    margin:0 auto;
}
.contact-item .title{
    width: 80%;
    float: right;
}


/*********** skills start*******/
.skills-container{
    clear:both;
    margin-top:30px;
}
.skills .skill-items{
    background-color: #859900;
    height: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 10 0 5px;
    font-size: 10px;

}

.skills-legend{
    margin-top: 20px;
    opacity: 0.8;
}
.skills-legend:before{
    width: 100%;
    height: 3px;
    position: relative;
    content: ' ';
    display: block;
    margin-bottom: -13px;
    background: #c6c6c6;
}
.skills-legend div{
    width: 25%;
    display: inline-block;
    font-size: 1em;
    color: #a9a9a9;
    float: left;
}
.legend:before{
    width: 3px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background: #c6c6c6;
}
.legend-left.legend:before{
    margin-left: 0;
}
.legend-right.legend:before{
    margin-right: 0;
}
.legend-left:nth-child(2) span{
    margin-left: -25px;
}
.legend-right:nth-child(3) span{
    margin-right: -20px;
}
.legend-right{
    text-align: right;
}
/************skills end **********/

/************ languages start *******/
 .languages{
     margin-top:30px;
 }
#language-skills .skill{
    font-size: 1.3em;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#language-skills .skill .icons{
    width: 111px;
    height: 14px;
    background: url(../img/star-grey.png) no-repeat;
}
#language-skills .skill .icons-red{
    background: url(../img/star-red.png) no-repeat;
}
/************* languages end *********/
/********* contact end **********/

/******** secondary-section end **********/


.clear{
    clear: both;
}


@media all and (min-width: 768px) {

    .container-fluid{
        width:80%;
    }

    .primary-section {
        width: 65%;
    }

    .secondary-section {
        width:33%;
    }

}